 @* Copyright (c) Duende Software. All rights reserved.

 By accessing the Duende IdentityServer code here, you are agreeing to the following licensing terms:
 https://duendesoftware.com/license/identityserver.pdf

 or, alternatively you can view the license in the project's ~/Licenses/DuendeSoftwareLicense.pdf file

 If you do not agree to these terms, do not access the Duende IdentityServer code. *@

@model ScopeViewModel

<li class="list-group-item">
    <label>
        <input 
            class="consent-scopecheck"
            type="checkbox"
            name="ScopesConsented"
            id="scopes_@Model.Value"
            value="@Model.Value"
            checked="@Model.Checked"
            disabled="@Model.Required"
        />

        @if (Model.Required)
        {
            <input
                type="hidden"
                name="ScopesConsented"
                value="@Model.Value"
            />
        }

        <strong>@Model.DisplayName</strong>

        @if (Model.Emphasize)
        {
            <span class="glyphicon glyphicon-exclamation-sign"></span>
        }
    </label>

    @if (Model.Required)
    {
        <span><em>(required)</em></span>
    }

    @if (Model.Description != null)
    {
        <div class="consent-description">
            <label for="scopes_@Model.Value">@Model.Description</label>
        </div>
    }

    @if (Model.Resources?.Any() == true)
    {
        <div class="consent-description">
            <label>Will be available to these resource servers:</label>
            <ul>
            @foreach (ResourceViewModel resource in Model.Resources)
            {
                <li>@resource.DisplayName</li>
            }
            </ul>
        </div>
    }
</li>