@model IndexViewModel
@{
  string PageLink(int pageNumber)
  {
    if (pageNumber == Model.CurrentPage)
    {
      return "#";
    }

    return Url.Action("Index", "Users", new { Area = AreaNames.Administration, page = pageNumber });
  }

  PaginationViewModel paginationViewModel = new PaginationViewModel() {
    CurrentPage = Model.CurrentPage,
    TotalPages = Model.TotalPages,
    MethodToGeneratePageLink = PageLink
  };

  string RegistrationStatus(bool registered)
  {
    if (registered)
      return "Complete";

    return "Incomplete";
  }
}

<div class="container">     
  <h1 class="mb-3">Application Users</h1>

  <table id="enable-datatables" class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Registration Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        @foreach (UserViewModel user in Model.Users)
        {
          <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@RegistrationStatus(user.AccountRegistered)</td>
            <td>
              <a asp-action="Details" asp-controller="Users" asp-area="Administration" asp-route-id="@user.Id">Access</a>
            </td>
          </tr>
        }
    </tbody>
  </table>

  <partial name="./../../../../Views/Shared/_Pagination.cshtml" model="@paginationViewModel" />
</div>

@section scripts {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables.net/datatables.min.css"/>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables.net/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/initiate-jquery-datatable.js"></script>
}
